<!--activity-->
<ng-container
  *ngIf="activity$ | async as activity; else loadingOrErrorActivity"
>
  <p class="activity">{{ activity.type }}</p>
</ng-container>

<ng-template #loadingOrErrorActivity>
  <ng-container *ngIf="error$ | async; else loading">
    <p class="errMessage">Error loading data.</p>
  </ng-container>

  <ng-template #loading> Loading ... </ng-template>
</ng-template>

<!-- user-->
<ng-template #loadingOrErrorUser>
  <ng-container *ngIf="error2$ | async; else loading">
    <p class="errMessage">Error loading data.</p>
  </ng-container>

  <ng-template #loading> Loading ... </ng-template>
</ng-template>

<ng-container *ngIf="user$ | async as user; else loadingOrErrorUser">
  <p class="user">{{ user.name.first }} {{ " " }} {{ user.location.city }}</p>
</ng-container>

<!--LOG BUTTON-->
<p>
  <button type="button" (click)="onBtnClick(count)">LOG TEST</button>
</p>

<!--TEST OPERATORS BUTTON-->
<p>
  <button #myButton type="button" (click)="testOperators($event)">
    TEST OPERATORS
  </button>
</p>

<!--TEST INPUT-->
<p>
  <input #myInput type="text" (input)="testInput($event)" />
</p>
