/* palette generator: http://mcg.mbitson.com/#!?mcgpalette0=%233f51b5*/

/*CUSTOM PALETTES*/

$mint-palette: (
  50 : #e5f7fa,
    100 : #beebf2,
    200 : #93deea,
    300 : #68d1e1,
    400 : #47c7da,
    500 : #27bdd4,
    600 : #23b7cf,
    700 : #1daec9,
    800 : #17a6c3,
    900 : #0e98b9,
    A100 : #e6faff,
    A200 : #b3efff,
    A400 : #80e4ff,
    A700 : #67dfff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$purple-palette: (
  50 : #f5e0ff,
  100 : #e6b3ff,
  200 : #d680ff,
  300 : #c64dff,
  400 : #b926ff,
  500 : #ad00ff,
  600 : #a600ff,
  700 : #9c00ff,
  800 : #9300ff,
  900 : #8300ff,
  A100 : #ffffff,
  A200 : #f8f2ff,
  A400 : #ddbfff,
  A700 : #cfa6ff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
)