@use "@angular/material" as mat;
@use "/src/app/utilities/themes/themes";

@include mat.core(); //include this only once in the app!

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component that you are using.
@include mat.all-component-themes(themes.$light-theme);

.darkMode {
  @include mat.all-component-colors(themes.$dark-theme);
}

/* GLOBAL STYLES*/
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-card {
  min-height: 90vh;
  margin: 1rem;
}

@media (max-width: 50rem) {
  .mat-card {
    box-shadow: unset;
  }
}
