.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;

  a {
    text-decoration: none;
    color: #fff;
  }
}
////////////////////////////////////////
@mixin myDiv($color, $border, $radius) {
  width: 1rem;
  height: 1rem;
  color: $color;
  border: $border;
  border-radius: $radius;
}

.wrapper {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.div1 {
  @include myDiv(#99ddff, 7px solid, 10px);
}

.div2 {
  @include myDiv(#db5bb0, 5px solid, 50px);
}
////////////////////////////////////////
@media (min-width: 70rem) {
  .hamburger {
    display: none;
  }
}
