<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list (click)="drawer.mode === 'over' && drawer.close()">
      <a mat-list-item routerLink="/form" routerLinkActive="active">Form</a>
      <a mat-list-item routerLink="/list" routerLinkActive="active">List</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <!--to add class for elevated shadow style: class="mat-elevation-z8" -->
    <mat-toolbar color="primary">
      <button
        class="hamburger"
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>
        <div class="wrapper">
          <div class="div1"></div>
          <div class="div2"></div>

          <a routerLink="/" routerLinkActive="active"
            >Angular Material App</a
          >
        </div></span
      ><mat-slide-toggle (change)="toggleDarkTheme($event.checked)">
        <mat-icon *ngIf="!isSunIcon">dark_mode</mat-icon>
        <mat-icon *ngIf="isSunIcon">light_mode</mat-icon>
      </mat-slide-toggle>
    </mat-toolbar>
    <!-- Add Content Here -->
    <mat-card class="mat-elevation-z8">
      <router-outlet></router-outlet>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>
